<section class="home">
    <h2>Welcome to the Angular Coding Challenge!</h2>
    <p>
        This is a small demo app to showcase your Angular skills.
        You can navigate to the <a routerLink="/items">Items</a> page to view the list of products.
    </p>

    <div class="cta">
        <a routerLink="/items" class="btn">Go to Items</a>
    </div>

    <hr>

    <h3>UI Inspiration</h3>
    <p>Here are two examples of product pages for inspiration:</p>

    <div class="inspiration-images">
        <div class="image-card">
            <h4>Product Listing Page</h4>
            <img src="../../assets/images/readme/item-list.png" alt="Product Listing Page" height="1024" width="1536">
        </div>

        <div class="image-card">
            <h4>Product Detail Page</h4>
            <img src="../../assets/images/readme/item-detail.png" alt="Product Detail Page" height="1024" width="1536">
        </div>
    </div>
</section>
